$body: rgb(247, 247, 247);

$shopMenu: rgb(242, 250, 255);
$shopMenuBorder: rgb(129, 129, 129);

$menuBody: rgb(255, 255, 255);
$menuBodyBorder: rgb(241, 241, 241);
$total: rgb(83, 83, 83);

$controlsForm: black;
$inputBorder: gray;

$buttonBorder: gray;
$button: rgb(255, 255, 255);