@use 'colors';

*
{
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', cursive;
    font-size: 95%;
}

body
{
    height: 100vh;
    width: 100vw;
    background-color: colors.$body;
    display: flex;
    align-items: center;
    justify-content: center;

    div.shop-menu
    {
        width: 25vw;
        min-width: 200px;
        height: 65vh;
        min-height: 300px;
        background-color: colors.$shopMenu;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid colors.$shopMenuBorder;
        box-shadow: 5px 10px 12px rgb(88, 88, 88);

        div.menu-body
        {
            width: 100%;
            height: 70%;
            border: 1px solid colors.$menuBodyBorder;
            background-color: colors.$menuBody;

            div#itensList
            {
                height: 90%;
                overflow: auto;

                div.listItem
                {
                    padding: 5px;
                    border-bottom: 2px dashed rgb(194, 194, 194);
                    display: flex;
                    justify-content: space-evenly;

                    span
                    {
                        font-weight: bold;
                    }

                    button#removeButton
                    {
                        width: 25px;
                        cursor: pointer;
                        font-weight: bolder;
                        border-radius: 4px;
                        background-color: rgb(255, 146, 146);
                        text-align: center;
                        border: none;
                        color: white;

                        &:hover
                        {
                            background-color: red;
                            color: black;
                        }
                    }
                }
            }

            div#total
            {
                text-align: center;
                line-height: 30px;
                width: 100%;
                height: 10%;
                background-color: colors.$total;
                color: white;
                font-weight: bold;
            }
        }

        div.menu-controls
        {
            width: 100%;
            height: 30%;

            form.controls-form
            {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;

                label
                {
                    input
                    {
                        border-radius: 5px;
                        border: 1px solid colors.$inputBorder;
                        width: 30px;
                        height: 15px;
                        padding: 3px 3px;
    
                        &:focus
                        {
                            outline: none;
                            border: 1px solid black;
                        }
                    }
    
                    input#itemName
                    {
                        margin-top: 5px;
                        padding: 3px 10px;
                        width: 150px;
                    }
                }

                input.add-button
                {
                    width: 90px;
                    height: 20px;
                    line-height: 17px;
                    margin: 5px;
                    padding: 2px;
                    border: 1px solid colors.$buttonBorder;
                    background-color: colors.$button;
                    border-radius: 5px;
                    cursor: pointer;

                    &:hover
                    {
                        border: 1px solid black;
                    }
                }
            }
        }
    }
}